<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
  {{{body}}}

  <!-- Socket.IO client via CDN -->
  <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
  <script src="/js/client.js"></script>
</body>
</html>
